.logo {
  font-family: "Agustina Regular";
  font-weight: normal;
  font-size: 42px;
}

.open-menu {
  color: white;
}

.size-6 {
  width: 3rem;
  height: 3rem;
}
.size-12 {
  width: 3rem;
  height: 3rem;
}
