@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/font/Agustina.otf") format("woff");
}

.logo {
  font-family: "Agustina Regular";
  font-weight: normal;
  font-size: 42px;
}

.open-menu {
  color: white;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}
.size-12 {
  width: 3rem;
  height: 3rem;
}
