@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("../assets/font/Agustina.otf") format("woff");
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: winter, sunset, luxury, night;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* font family */
  --font-karla: "Karla", monospace;
  --font-lato: "Lato", sans-serif;
  --font-augustina: "Agustina Regular", sans-serif;

  /* font size */
  --text-logo: clamp(1.5rem, 1.357rem + 0.714vw, 2rem);
  --text-paragraph: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
  --text-main-head: clamp(2rem, 1.571rem + 2.143vw, 3.5rem);
  --text-secondary-head: clamp(2rem, 1.714rem + 1.429vw, 3rem);
  --text-tertiary-head: clamp(1.5rem, 1.357rem + 0.714vw, 2rem);

  /* padding */
  --spacing-header-container: clamp(0.5rem, 0.214rem + 1.429vw, 1.5rem);

  /* ANIMATIONS */
  --animate-fadeIn: fadeIn 1s ease-out forwards;

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  h2 {
    @apply font-bold font-karla text-secondary-head;
  }

  .navlink {
    @apply font-karla text-paragraph hover:text-primary;
  }

  .fade-in-section {
    @apply opacity-0 translate-y-5 transition-[opacity,transform] duration-600 ease-out;
  }

  .fade-in-section.is-visible {
    @apply !opacity-100 translate-y-0;
  }

  .fade-in-start {
    @apply delay-300 translate-y-5 opacity-0 animate-fadeIn;
  }
}

@layer utilities {
  .size-12 {
    width: 2rem;
    height: 2rem;
  }
  .size-6 {
    width: 2rem;
    height: 2rem;
  }
  .size-3 {
    width: 1rem;
    height: 1rem;
  }
}

/* Ensure background opacity stays constant */
.bg-base-200\/80,
.lg\:bg-base-200\/30 {
  --tw-bg-opacity: 0.8 !important; /* Force background opacity */
}
