@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("../assets/font/Agustina.otf") format("woff");
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, sunset, luxury, night;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* font family */
  --font-karla: "Karla", monospace;
  --font-lato: "Lato", sans-serif;
  --font-augustina: "Agustina Regular", sans-serif;

  /* font size */
  --text-logo: clamp(1.5rem, 1.357rem + 0.714vw, 2rem);
  --text-paragraph: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
  --text-main-head: clamp(2rem, 1.571rem + 2.143vw, 3.5rem);
  --text-secondary-head: clamp(2rem, 1.714rem + 1.429vw, 3rem);
  --text-tertiary-head: clamp(1.5rem, 1.357rem + 0.714vw, 2rem);

  /* padding */
  --spacing-header-container: clamp(0.5rem, 0.214rem + 1.429vw, 1.5rem);

  /* colors */
}

@layer components {
  h2 {
    @apply font-bold font-karla text-secondary-head;
  }

  .navlink {
    @apply font-karla text-paragraph hover:text-primary;
  }
}
